<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>About</title>
</head>

<body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/works">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Videos</a>
        </li>
      </ul>
    <h1>THE PROCLAIMERS</h1>
    <img src="../images/the-story.jpeg" alt="The Proclaimers" class="img">

    <h3 class="background-info">Background Information</h3>


<div class="born">
    <h4>Born:</h4>
    <p>5 March 1962 (age 60) (twins)</p>
    <p>Leith, Edinburgh, Scotland</p>
</div>
    <div class="origin">
    <h4>Origin</h4>
    <p>Auchtermuchty, Fife, Scotland</p>
</div>
    <div class="genres">
    <h4>Genres</h4>
    <ul>
        <li>Alternative folk</li>
        <li>Alternative rock</li>
        <li>Celtic pop</li>
        <li>Country folk</li>
        <li>Folk rock</li>
        <li>Post-punk</li>
        <li>Rhythm and blues</li>
        <li>Roots rock</li>
    </ul>
</div>
    <div class="years">
    <h4>Years active</h4>
    <p>1983-present</p>
</div>
    <div class="labels">
    <h4>Labels</h4>
    <ul>
        <li>Chrysalis</li>
        <li>Cooking Vinyl</li>
        <li>Parlophone</li>
    </ul>
    </div>
    <div class="members">
    <h4>Members</h4>
    <ul>
        <li>Charlie Reid</li>
        <li>Craig Reid</li>
        <li><strong>Backing Band</strong></li>
        <li>Steven Christie</li>
        <li>Clive Jenner</li>
        <li>Garry John Kane</li>
        <li>Zac Ware</li>
        <li>Erica Nockalls</li>
    </ul>
</div>
    <div class="website">
    <h4>Website</h4>
    <a href="https://www.proclaimers.co.uk">proclaimers.co.uk</a>
</div>

<div class="back-one">
    <a href="/home">Back to Home Page</a>
</div>
</body>

</html>