<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Gallery</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/works">Work</a>
        </li>
      </ul>
    <h1>THE PROCLAIMERS</h1>
    <h1 class="photoo">Video Gallery:</h1>
    <div id="photos">
        <iframe width="500" height="350" src="https://www.youtube.com/embed/tbNlMtqrYS0"
            title="The Proclaimers - I'm Gonna Be (500 Miles) (Official Music Video)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="500" height="350" src="https://www.youtube.com/embed/TJ69svOtmAM" title="I'm on My Way"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="500" height="350" src="https://www.youtube.com/embed/yy9GmieAEaQ"
            title="The Proclaimers - Letter From America" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="500" height="350" src="https://www.youtube.com/embed/7qTbLoyQ23g"
            title="The Proclaimers - Streets of Edinburgh (Official Video)" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="500" height="350" src="https://www.youtube.com/embed/9V7NYX1TOgs" title="Sunshine on Leith"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="500" height="350" src="https://www.youtube.com/embed/AfIAB24N0tI" title="Then I Met You"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="500" height="350" src="https://www.youtube.com/embed/SdXeM4bHBhk" title="Cap in Hand"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="back-one">
        <a href="/home">Back to Home Page</a>
    </div>
</body>

</html>