<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <title>Home</title>
</head>
<body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/works">Work</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Videos</a>
        </li>
      </ul>
    <div class="proclaimers-title">
    <h1>The Proclaimers</h1>
    </div>
    <div class="first-p">
    <p>The Proclaimers are a Scottish rock duo formed in 1983 by twin brothers Craig and Charlie Reid who were born on 5
        March 1962. They came to attention with their 1987 single "Letter from America", which reached No. 3 in the
        United Kingdom, and the 1988 single "I'm Gonna Be (500 Miles)", which topped charts in Australia, Iceland
        and New Zealand. The Proclaimers have sold over 5 million albums worldwide.

        First active from 1983 as an acoustic duo, the Proclaimers moved toward band-oriented rock in later works.
        The Proclaimers' style draws from a diversity of influences, including country, folk, and punk rock.
        Their playing range has included roots rock, alternative rock and folk rock, and their music is
        typified by their Scottish accents. The Proclaimers often tour internationally, and have released 11
        studio albums since 1987, the most recent being 2018's Angry Cyclist, as well as three compilation albums and a
        DVD.</p>
    </div>
    <div class="first-img">
    <img src="./images/The_Proclaimers_(64869807).jpeg" alt="The Proclaimers">
</div>
    <div class="early-life">
    <h3>Early lives</h3>
</div>
<div class="second-p">
    <p>Craig Reid and Charles Reid were born in Leith on 5 March 1962 and grew up in Edinburgh, Cornwall and
        Auchtermuchty. When they lived in Auchtermuchty, they attended Bell Baxter High School.</p>
</div>
<div class="sunshine">
    <h3>Sunshine on Leith (1988-1993)</h3>
    </div>
    <div class="third-p">
    <p>The follow-up album, Sunshine on Leith, was released in 1988 and featured a rock-driven sound as the Proclaimers
        worked with a band for the first time. Ranging in lyrical-themes from familial joy to Scottish
        nationalism, the record featured the singles "I'm Gonna Be (500 Miles)", which went to number one in
        Australia and New Zealand, and "I'm On My Way". The album was a particularly big hit in Australia in
        1989, being that year's 12th biggest-seller, reaching No. 2, and attaining a 2x multi-platinum certification by
        the ARIA. Craig Reid described this success as their "biggest ever". Attaining certifications of 2x
        multi-platinum in Canada, at the time of June 2009 Sunshine on Leith had sold a worldwide total of 2 million
        copies. The album was a critical success, with Rolling Stone in May 1989 lauding it "a wonderfully guileless
        treasure of an album".

        Sunshine on Leith's following concert tour included a performance at the 1989 Glastonbury Festival, playing to
        an audience of over 65,000.

        The Proclaimers had a hit with their EP King of the Road, which reached number nine in the UK in 1990.
        The EP's titular song, a Roger Miller cover, was included in the 1990 film The Crossing.

        "I'm Gonna Be (500 Miles)" belatedly peaked at number three on the Billboard Hot 100 in August 1993, after
        appearing in the movie Benny & Joon, becoming their only chart single in the United States. This popularity
        saw the Proclaimers supporting American glam metal band Bon Jovi, alongside 10,000 Maniacs, at the Madison
        Square Garden concert on their I'll Sleep When I'm Dead Tour. Sunshine on Leith peaked at No. 31,
        shifting close to 700,000 units in the US by 2001.</p>
    </div>
    <div class="denture">
    <h3>Dentures Out (2022-present)</h3>
</div>
<div class="fourth-p">
    <p>In late May 2022, it was revealed on The Proclaimers' official website that the duo would announce a new studio
        album on 16 June that year, a date that was later put forward until the 30th of that month. On that date,
        the duo's twelfth album Dentures Out was announced for release on 16 September 2022. The news came alongside the
        release of the album's lead single "The World that Was" and the announcement of Manic Street Preachers frontman
        James Dean Bradfield's collaboration on the record.</p>
        </div>
</body>
</html>