<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
    <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery">Videos</a>
        </li>
      </ul>
    <h1>THE PROCLAIMERS</h1>
    <img src="./images/poster.jpeg" alt="Poster The Proclaimers" class="poster">
    
    <h1 class="disco">Discography:</h1>
    <h3 class="studio">Studio albums</h3>
    <p class="discoP">This is a discography of the Scottish band The Proclaimers, who have released eleven studio albums, six
        compilation albums, one extended play and twenty-five singles.</p>
    <ul class="ulDisco">
        <li>This Is the Story</li>
        <li>Sunshine on Leith</li>
        <li>Hit the Highway</li>
        <li>Persevere</li>
        <li>Born Innocent</li>
        <li>Restless Soul</li>
        <li>Life with You</li>
        <li>Notes & Rhymes</li>
        <li>Like Comedy</li>
        <li>Let's Hear It for the Dogs</li>
        <li>Angry Cyclist</li>
    </ul>
    <h3 class="dvd">DVD</h3>
    <ul class="dvdUl"><li>The Best of The Proclaimers 1987-2002 (2002)</li></ul>

    <div class="website">
        <h4>Website</h4>
        <a href="https://www.proclaimers.co.uk">proclaimers.co.uk</a>
    </div>

    <div class="back-one">
        <a href="/home">Back to Home Page</a>
    </div>
</body>

</html>